.card__wrapper {
	width: 250px;
	text-align: center;
	font-family: "Poppins", sans-serif;
	padding: 16px;
	border-radius: 8px;
}

.card__image {
	width: 100%;
	border-radius: 8px;
}

.card__info {
	height: 90px;
	margin-top: 10px;
	text-align: left;
}

.button__wrapper {
	display: flex;
	justify-content: flex-end;
}

.card__button {
	margin-top: 10px;
	padding: 8px 12px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

.card__button a {
	font-size: 14px;
	text-decoration: none;
}
